{% load static %}
<!-- Sidebar -->
<div class="sidebar">
  <img src="{% static 'img/logo-sidebar.png' %}" alt="" class="logo-img">
  <ul>
    <li class="sidebar-item">
      <a href="{% url 'inicio' %}"><strong class="sidebar-isolado">Resumo Executivo</strong></a>
    </li>
    <li class="sidebar-item">
      <strong class="sidebar-item-title">
        <i class="bi bi-play-fill sidebar-icon"></i> O Negócio
      </strong>
      <div class="sidebar-item-content">
        <ul>
          <li>Clique aqui para detalhar O Negócio...</li>
        </ul>
      </div>
    </li>
    <li class="sidebar-item">
      <strong class="sidebar-item-title">
        <i class="bi bi-play-fill sidebar-icon"></i> Produtos e Serviços
      </strong>
      <div class="sidebar-item-content">
        <ul>
          <li>Clique aqui para detalhar Produtos e Serviços...</li>
        </ul>
      </div>
    </li>
    <li class="sidebar-item">
      <strong class="sidebar-item-title">
        <i class="bi bi-play-fill sidebar-icon"></i> O Ambiente de Negócio
      </strong>
      <div class="sidebar-item-content">
        <ul>
          <li>Clique aqui para detalhar O Ambiente de Negócio...</li>
        </ul>
      </div>
    </li>
    <li class="sidebar-item">
      <strong class="sidebar-item-title">
        <i class="bi bi-play-fill sidebar-icon"></i> Estratégias de Marketing
      </strong>
      <div class="sidebar-item-content">
        <ul>
          <li><a href="{% url 'posicionamento' %}">Posicionamento</a></li>
          <li><a href="{% url 'foco' %}">Foco e Segmentação</a></li>
          <li><a href="{% url 'plano' %}">Plano de Penetração no Mercado</a></li>
          <li><a href="{% url 'distribuicao' %}">Distribuição e Comercialização</a></li>
        </ul>
      </div>
    </li>
    <li class="sidebar-item">
      <strong class="sidebar-item-title">
        <i class="bi bi-play-fill sidebar-icon"></i> Administração e Gestão
      </strong>
      <div class="sidebar-item-content">
        <ul>
          <li>Clique aqui para detalhar Administração e Gestão...</li>
        </ul>
      </div>
    </li>
    <li class="sidebar-item">
      <strong class="sidebar-item-title">
        <i class="bi bi-play-fill sidebar-icon"></i> Plano de Implantação
      </strong>
      <div class="sidebar-item-content">
        <ul>
          <li>Clique aqui para detalhar Plano de Implantação...</li>
        </ul>
      </div>
    </li>
    <li class="sidebar-item">
      <strong class="sidebar-item-title">
        <i class="bi bi-play-fill sidebar-icon"></i> Plano Financeiro
      </strong>
      <div class="sidebar-item-content">
        <ul>
          <li>Clique aqui para detalhar Plano Financeiro...</li>
        </ul>
      </div>
    </li>
    <li class="sidebar-item">
      <strong class="sidebar-item-title">
        <i class="bi bi-play-fill sidebar-icon"></i> ANEXO 1 - Projeções Financeiras
      </strong>
      <div class="sidebar-item-content">
        <ul>
          <li>Clique aqui para detalhar Projeções Financeiras...</li>
        </ul>
      </div>
    </li>
  </ul>
</div>