{% load static %}
<!-- Sidebar -->
<div class="sidebar">
  <img src="{% static 'img/logo-sidebar.png' %}" alt="" class="logo-img">
  <ul>
    <li class="sidebar-item">
      <a href="{% url 'inicio' %}"><strong class="sidebar-isolado">Resumo Executivo</strong></a>
    </li>
    <li class="sidebar-item">
      <strong class="sidebar-item-title">
        O Negócio
      </strong>
      <div class="sidebar-item-content">
        <ul>
          <li><a href="{% url 'historico' %}">Histórico e Motivação</a></li>
          <li><a href="{% url 'modelo' %}">Modelo de Negócio</a></li>
        </ul>
      </div>
    </li>
    <li class="sidebar-item">
      <strong class="sidebar-item-title">
        Produtos e Serviços
      </strong>
      <div class="sidebar-item-content">
        <ul>
            <li><a href="{% url 'caracteristicas' %}">Características e Benefícios</a></li>
            <li><a href="{% url 'estagio' %}">Estágio de Desenvolvimento</a></li>
        </ul>     
      </div>
    </li>
    <li class="sidebar-item">
      <strong class="sidebar-item-title">
        O Ambiente de Negócio
      </strong>
      <div class="sidebar-item-content">
        <ul>
          <li><a href="{% url 'analise_setor' %}">Análise de Setor</a></li>
          <li><a href="{% url 'mercado_potencial' %}">Mercado Potencial</a></li>
          <li><a href="{% url 'analise_concorrencia' %}">Análise de Concorrência</a></li>
        </ul>
      </div>
    </li>
    <li class="sidebar-item">
      <strong class="sidebar-item-title">
        Estratégias de Marketing
      </strong>
      <div class="sidebar-item-content">
        <ul>
          <li><a href="{% url 'posicionamento' %}">Posicionamento</a></li>
          <li><a href="{% url 'foco' %}">Foco e Segmentação</a></li>
          <li><a href="{% url 'plano' %}">Plano de Penetração no Mercado</a></li>
          <li><a href="{% url 'distribuicao' %}">Distribuição e Comercialização</a></li>
        </ul>
      </div>
    </li>
    <li class="sidebar-item">
      <strong class="sidebar-item-title">
        Administração e Gestão
      </strong>
      <div class="sidebar-item-content">
        <ul>
          <li><a href="{% url 'producao' %}">Produção, Localização e Instalações</li></a>
          <li><a href="{% url 'descricao' %}">Descrição Legal e Estrutura Societária</li></a>
          <li><a href="{% url 'equipe' %}">Equipe</li></a>
          <li><a href="{% url 'terceirizacao' %}">Terceirização e Equipe de Apoio Externo</li></a>
          <li><a href="{% url 'alianca' %}">Alianças e Parcerias</li></a>
          <li><a href="{% url 'pesquisa' %}">Pesquisa, Desenvolvimento e Inovação</li></a>
          <li><a href="{% url 'qualidade' %}">Gestão da Qualidade</li></a>
        </ul>
      </div>
    </li>
    <li class="sidebar-item">
      <strong class="sidebar-item-title">
        Plano de Implantação
      </strong>
      <div class="sidebar-item-content">
        <ul>
          <li><a href="{% url 'risco' %}">Análise de Riscos</li></a>
          <li><a href="{% url 'fatores' %}">Fatores Críticos de Sucesso</li></a>
          <li><a href="{% url 'cronograma' %}">Cronograma</a></li>
          <li><a href="{% url 'alternativa' %}">Alternativas Estratégicas</a></li>
        </ul>
      </div>
    </li>
    <li class="sidebar-item">
      <strong class="sidebar-item-title">
        Plano Financeiro
      </strong>
      <div class="sidebar-item-content">
        <ul>
          <li><a href="{% url 'investimento' %}">Investimento</a></li>
          <li><a href="{% url 'equipe_propria' %}">Equipe Própria</a></li>
          <li><a href="{% url 'terceiros' %}">Prestadores de Serviços</a></li>
          <li><a href="{% url 'despesas' %}">Despesas Administrativas</a></li>
          <li><a href="{% url 'produto' %}">Produtos, Serviços e Insumos</a></li>
          <li><a href="{% url 'receitas' %}">Receitas</a></li>
        </ul>
      </div>
    </li>
    <li class="sidebar-item">
      <strong class="sidebar-item-title">
        ANEXO 1 - Projeções Financeiras
      </strong>
      <div class="sidebar-item-content">
        <ul>
          <li>Clique aqui para detalhar Projeções Financeiras...</li>
        </ul>
      </div>
    </li>
  </ul>
</div>