{% extends "base.html" %}
{% load static %}

{% block conteudo %}
<!-- Conteúdo -->
<div class="content d-flex flex-column">
  <h3>Alianças e Parcerias</h3>
  <div class="editor-area" contenteditable="true" placeholder="Digite aqui a aliança e parceria..."></div>

    <div class="footer-notes mt-auto">
        <strong>Suporte á edição - Orientação</strong> <br>
        Indique os (parceiros) que agregam valor aos serviços ou produtos da empresa: fornecedores, distribuidores, clientes ou parceiros de importância estratégica para o futuro do negócio.
        O empreendimento depende de fornecedores ou parceiros para utilizar a tecnologia que dá suporte aos seus produtos ou serviços? Como isso é feito: através de acordos, parcerias, pagamentos de royalties?     
   </div>
</div>
{% endblock conteudo %}

{% block extra_js %}
  <script src="{% static 'js/sidebar.js' %}"></script>
{% endblock extra_js %}