{% extends "base.html" %}
{% load static %}

{% block conteudo %}
<!-- Conteúdo -->
<div class="content d-flex flex-column">
  <h3>Alternativas Estratégicas</h3>
  <div class="editor-area" contenteditable="true" placeholder="Digite aqui as alternativas estratégicas..."></div>

    <div class="footer-notes mt-auto">
        <strong>Suporte á edição - Orientação</strong> <br>
        Quais são os piores cenários e o que aconteceria à empresa se eles se tornassem realidade? 

        Tendo em vista os principais riscos analisados, as condições para que o negócio se viabilize e demais premissas apresentadas neste documento, o que a equipe fará no caso de se materializar algum dos cenários mais pessimistas?

        Que outras oportunidades podem surgir?  Há mercados diferentes daqueles apresentados por este Plano de Negócios que podem ser abordados em caso de insucesso nos segmentos escolhidos inicialmente?

        Em outras palavras, se o planejamento der errado, há alternativas estratégicas? Algum “Plano B”? 
    </div>
{% endblock conteudo %}

{% block extra_js %}
  <script src="{% static 'js/sidebar.js' %}"></script>
{% endblock extra_js %}