{% extends "base.html" %}
{% load static %}

{% block conteudo %}
<!-- Conteúdo -->
<div class="content d-flex flex-column">
  <h3>Análise de Concorrência</h3>
  <div class="editor-area" contenteditable="true" placeholder="Digite aqui o conteúdo do seu plano de negócio..."></div>

  <div class="footer-notes mt-auto">
    <strong>Suporte á edição - Orientação:</strong> 
     Uma pesquisa de mercado deve apontar claramente quem são os concorrentes que oferecem serviços ou produtos semelhantes aos oferecidos. Oriente-se pelas perguntas abaixo: 

    <ul>
      <li>Quem são os concorrentes diretos, indiretos e que possuem produtos substitutos? </li>
      <li>Quais as suas características (localização, tradição, porte, faturamento, etc.)? </li>
      <li>Quais os pontos fracos e fortes de cada um, bem como os benefícios dos produtos oferecidos por eles e o seu diferencial?</li>
      <li>Que estratégias de venda, distribuição e publicidade eles utilizam? </li>
      
    </ul>
  </div>
</div>
{% endblock conteudo %}

{% block extra_js %}
  <script src="{% static 'js/sidebar.js' %}"></script>
{% endblock extra_js %}