{% extends "base.html" %}
{% load static %}

{% block conteudo %}
<!-- Conteúdo -->
<div class="content d-flex flex-column">
  <h3>Análise de Riscos</h3>
  <div class="editor-area" contenteditable="true" placeholder="Digite aqui a análise de riscos..."></div>

    <div class="footer-notes mt-auto">
        <strong>Suporte á edição - Orientação</strong> <br>
        Quais ameaças podem atrapalhar o desenvolvimento e comercialização dos produtos/serviços? 
        Quais os pontos fracos do seu negócio? Como eles podem afetar a sua empresa e impedir o aproveitamento da oportunidade? 
        Existe alguma característica nos hábitos do público-alvo que pode inibir o desenvolvimento ou a comercialização do serviço ou produto?
        Há características na economia da cidade, do estado ou do país onde vai atuar que podem auxiliar ou atrapalhar o desenvolvimento e a comercialização dos produtos/serviços?
        Mudanças políticas ou econômicas podem interferir nos planos? Como? 
        O desenvolvimento e a comercialização dos produtos/serviços podem ser afetados pelo poder público, seja ele municipal, estadual ou federal?
        Há alguma característica tecnológica do serviço ou produto (bem como na concorrência) que pode auxiliar ou inibir o desenvolvimento e o plano de comercialização?
        Pode haver mudanças tecnológicas significativas no mercado nos próximos anos?
        Como está o desenvolvimento tecnológico em mercados semelhantes nos países mais expressivos?
        A comunidade está desenvolvida o suficiente para gerar demanda pelo serviço e produto?
        Os meios de informação utilizados pela empresa conseguem se comunicar com seu público?
        A concorrência possui alguma vantagem competitiva ou domina algum mecanismo que influencia todo o mercado?
        Se a tecnologia não é da empresa e o produto/serviço depende dessa tecnologia, como ela está preparada para diminuir ou eliminar a dependência em relação a terceiros?
    </div>
{% endblock conteudo %}

{% block extra_js %}
  <script src="{% static 'js/sidebar.js' %}"></script>
{% endblock extra_js %}