{% extends "base.html" %}
{% load static %}

{% block conteudo %}
<!-- Conteúdo -->
<div class="content d-flex flex-column">
  <h3>Equipe</h3>
  <div class="editor-area" contenteditable="true" placeholder="Digite aqui a equipe..."></div>

    <div class="footer-notes mt-auto">
        <strong>Suporte á edição - Orientação</strong> <br>
        Quais os sócios e parceiros do negócio? Explique o papel de cada um na sociedade e o que dela eles esperam.
        Qual a formação, os conhecimentos e as experiências da equipe gestora? Quais serão suas rafeas? Por que eles são capazes de gerenciá-lo?
        Indique os demais membros da equipe do empreendimento e suas funções. Se forem muitos, concentre-se nos principais cargos. Estes profissionais já foram definidos ou ainda serão contratados?
    </div>
</div>
{% endblock conteudo %}

{% block extra_js %}
  <script src="{% static 'js/sidebar.js' %}"></script>
{% endblock extra_js %}