{% extends "base.html" %}
{% load static %}

{% block conteudo %}
<!-- Conteúdo -->
<div class="content d-flex flex-column">
  <h3>Fatores Críticos de Sucesso</h3>
  <div class="editor-area" contenteditable="true" placeholder="Digite aqui os fatores críticos de sucesso.."></div>

    <div class="footer-notes mt-auto">
        <strong>Suporte á edição - Orientação</strong> <br>
        O que é indispensável acontecer para que o negócio seja viável? 

        Conquistar um cliente ou parceiro estratégico? Alcançar um volume de vendas mínimo até um prazo pré-estabelecido? Colocar o produto no mercado dentro do cronograma? Levantar recursos junto a investidores? Dominar uma tecnologia específica? ...

        Em suma, quais partes do planejamento apresentado não podem dar erradas, sob pena de inviabilizar o negócio?
    </div>
{% endblock conteudo %}

{% block extra_js %}
  <script src="{% static 'js/sidebar.js' %}"></script>
{% endblock extra_js %}