{% extends "base.html" %}
{% load static %}

{% block conteudo %}
<!-- Conteúdo -->
<div class="content d-flex flex-column">
  <h3>Foco e Segmentação</h3>
  <div class="editor-area" contenteditable="true" placeholder="Digite aqui o seu foco e segmentação..."></div>

  <div class="footer-notes mt-auto">
    <strong>Orientação:</strong> 
    <p>O público é bem segmentado ou existem dificuldades em identificá-lo com segurança? Em outras palavras: é possível classificar o público-alvo por características em comum? Quais são essas características? Observe se é possível agrupar a clientela pela idade, sexo, escolaridade, religião (ou outro fator demográfico), estilo de vida, padrões de comportamento, personalidade, atitudes, etc. 

    Quais as fatias segmentadas de mercado a empresa irá priorizar? Porque?

    Qual o tamanho desses segmentos de mercado? Quais fatores influenciam ou podem influenciar na aquisição e consumo do produto/serviço?

    Lembre-se de que aqui você deve considerar os consumidores finais do seu produto/serviço, o público que irá usufruir diretamente deles e gerar demanda.  

    </p>
  </div>
</div>
{% endblock conteudo %}

{% block extra_js %}
  <script src="{% static 'js/sidebar.js' %}"></script>
{% endblock extra_js %}