{% extends "base.html" %}
{% load static %}

{% block conteudo %}
<!-- Conteúdo -->
<div class="content d-flex flex-column">
  <h3>Resumo Executivo</h3>
  <div class="editor-area" contenteditable="true" placeholder="Digite aqui o conteúdo do seu plano de negócio..."></div>

  <div class="footer-notes mt-auto">
    <strong>Orientação:</strong> O Resumo Executivo é a síntese do Plano de Negócio.
    <strong>Por ser um resumo geral, deve ser o último tópico a ser feito.</strong>
    Nossa sugestão é que seja escrito um parágrafo (no máximo dois) para cada um dos seguintes temas:
    <ul>
      <li>Apresentação do empreendimento e da oportunidade</li>
      <li>Equipe proponente</li>
      <li>Produtos ou Serviços e tecnologia utilizada</li>
      <li>Diferenciais e vantagens competitivas</li>
      <li>Projeções de venda e mercado potencial</li>
      <li>Investimento necessário e como será financiado</li>
      <li>Rentabilidade e Projeções Financeiras</li>
    </ul>
  </div>
</div>
{% endblock conteudo %}

{% block extra_js %}
  <script src="{% static 'js/sidebar.js' %}"></script>
{% endblock extra_js %}