{% extends "base.html" %}
{% load static %}

{% block conteudo %}
<!-- Conteúdo -->
<div class="content d-flex flex-column">
  <h3>Modelo de Negócio</h3>
  <div class="editor-area" contenteditable="true" placeholder="Digite aqui o conteúdo do seu plano de negócio..."></div>

  <div class="footer-notes mt-auto">
    <strong>Suporte á edição - Orientação</strong> <br>
     De forma sucinta, descreva o seu modelo de negócios. As perguntas a seguir servem como orientação.

    <ul>
      <li>Como você vai ganhar dinheiro?</li>
      <li>Comércio, indústria ou serviços?</li>
      <li>Aluguel, licenciamento, venda?</li>
      <li>Atacado ou varejo?</li>
      <li>Marca própria, revenda, filial, franquia?</li>
      <li>Estrutura de distribuição própria ou de terceiros?</li>
      <li>Marketing direto (porta a porta)?</li>
    </ul>
  </div>
</div>
{% endblock conteudo %}
{% block extra_js %}
  <script src="{% static 'js/sidebar.js' %}"></script>
{% endblock extra_js %}