{% extends "base.html" %}
{% load static %}

{% block conteudo %}
<!-- Conteúdo -->
<div class="content d-flex flex-column">
  <h3>Pesquisa, Desenvolvimento e Inovação</h3>
  <div class="editor-area" contenteditable="true" placeholder="Digite aqui a pesquisa, desenvolvimento e inovação..."></div>

    <div class="footer-notes mt-auto">
        <strong>Suporte á edição - Orientação</strong> <br>
        Explique qual é a importância das atividades de pesquisa, desenvolvimento e ligadas à inovação para o sucesso do negócio proposto.
        A concorrência o a própria evolução tecnológica exigem atualizações frequentes dos produtos/serviços ou dos processos de fabricação? 
        O surgimento de novos materiais, equipamentos ou técnicas traria ganhos de produtividade ou aprimoramento dos produtos e serviços da empresa? 
        Quais mecanismos a empresa utiliza para estar a par do mais atual conhecimento tecnológico e de gestão?
        A empresa possui alguma parceria estratégica com universidades ou centros de pesquisa? Possui ou possuirá pessoal dedicado a trabalhar nesta área? Qual a política de investimento em P&D?

        Há direitos de propriedade, patentes ou outras formas de garantir direitos exclusivos de comercialização dos produtos e serviços da empresa?
    </div>
{% endblock conteudo %}

{% block extra_js %}
  <script src="{% static 'js/sidebar.js' %}"></script>
{% endblock extra_js %}